body {
	@media (max-width: 768px) {
		&.community {
			.contributes {
				.contribute-info {
					.contributor-name {
						a {
							display: block;
						}
					}
				}
			}
		}
		&.contribute {
			.panel.panel-white {
				&.panel-translate, &.panel-sync {
					.panel-heading {
						padding-left: 75px;
						font-size: 15px;
					}
				}
			}
			&.contribute-edit {
				.panel.panel-white {
					.edit-panel {
						.form-group {
							overflow: hidden;
						}
						.input-group {
							width: 100%;
						}
						.edit-input {
							border-radius: 4px;
							display: block;
						}
						.input-group-btn {
							display: block;
							width: 100%;
							text-align: center;
							overflow: hidden;
							.btn {
								width: 25%;
							}
							.btn-add {
								border-radius: 0 4px 4px 0;
							}
						}
					}
				}
			}
		}
		&.profile {
			.contributes {
				.contribute-info {
					.contributor-name {
						a {
							display: block;
						}
					}
				}
			}
		}
		&.lyric {
			> main {
				section.text {
					> p {
						.lyric-description {
							display: inline;
						}
						.popover {
							max-width: 320px;
							width: 320px;
							padding-bottom: 25px;
						}
						.popover-footer {
							position: fixed;
							bottom: 0;
							left: 0;
							right: 0;
							padding: 8px 14px;
							font-size: 14px;
							background-color: #f7f7f7;
							border-top: 1px solid #ebebeb;
							border-radius: 0px 0px 5px 5px;
						}
					}
				}
				.comments-section {
					.comment {
						&.reply {
							margin-right: -15px;
						}
					}
				}
			}
		}
		&.home {
			> header {
				ul {
					padding-right: 0;
					li {
						&.divider {
							margin-right: 0 !important;
							margin-left: 2px !important;
						}
					}
				}
			}
		}
	}
	@media (max-width: 576px) {
		> header {
			.container {
				> nav {
					overflow: hidden;
					display: block;
					height: auto;
				}
			}
		}
		&.contribute.contribute-sync {
			.panel.panel-white {
				.panel-body {
					.sync-panel {
						.panel-body {
							padding: 15px 0 0 0;
						}
					}
				}
			}
		}
	}
	@media (max-width: 522px) {
		> header {
			.container {
				> nav {
					> .logo {
						display: block;
						width: 100%;
					}
					> ul {
						padding-right: 20%;
						display: block;
						text-align: center;
						li {
							a {
								margin-left: 7px;
							}
							&.divider {
								margin: 15px 0 0 8px;
							}
						}
					}
				}
			}
		}
	}
	@media (max-width: 400px) {
		> header {
			.container {
				> nav {
					> ul {
						padding-right: 12%;
					}
				}
			}
		}
	}
	@media (max-width: 350px) {
		> header {
			.container {
				> nav {
					> ul {
						padding-right: 0;
					}
				}
			}
		}
	}
}