body.songs{
    .persons{
        tr{
            td{
                &:nth-child(3){
                    width: 5%;
                    min-width: auto;
                    .checkbox{
                        padding-left: 0;
                    }
                }
                &:last-child{
                    width: 5%;
                }
                @media (max-width: 767px){
                    &:not(:last-child){
                        min-width: 200px;
                    }
                    &:nth-child(3){
                        min-width: auto;
                    }
                }
            }
        }
    }
    .table-titles{
        tr{
            td{
                &:nth-child(2){
                    min-width: 200px;
                }
                &:last-child{
                    width: 5%;
                }
            }
        }
    }
}